@import 'tailwindcss';

@theme {
  --color-frog: #fcf1f5;
  --color-primary: #7e1b3c;
  --color-secondary: #e06f95;
  --color-text: #3c1152;
}

@layer base {
  body {
    @apply bg-frog text-text;
  }
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
}

@layer components {
  input,
  select {
    @apply p-2 bg-white border border-primary mx-1 focus:outline-none focus:border-primary;
  }

  .link {
    @apply cursor-pointer hover:scale-110 transition duration-300 ease-in-out text-primary;
  }

  .btn {
    @apply py-2 px-3 border border-primary cursor-pointer w-full;
  }

  .btn-primary {
    @apply bg-primary border-primary text-white hover:bg-secondary hover:border-secondary active:bg-secondary;
  }
}
